@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gugi', cursive;
}

.App {
  min-height: 100vh;
}

footer {
  position: sticky;
  top: 100vh;
}

button {
  font-family: 'Gugi', cursive;
}